Library/**
Temp/**
*.csproj
ProjectSettings/**
Unity sample in app purchase json
Unity-csharp.sln
Unity.sln
Unity.userprefs
**.meta
AppsFlyerUnityHelper$2.class
obj/Debug/Assembly-CSharp-firstpass.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp-firstpass.dll
obj/Debug/Assembly-CSharp-firstpass.dll.mdb
obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.dll.mdb
Assets/AssetStoreTools/Editor/AssetStoreTools.dll
Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll
Assets/AssetStoreTools/Editor/DroidSansMono.ttf
Assets/AssetStoreTools/Editor/icon.png
Assets/AssetStoreTools/Labels.asset
Assets/AppsFlyer/AssetStoreTools/Editor/AssetStoreTools.dll
Assets/AppsFlyer/AssetStoreTools/Editor/AssetStoreToolsExtra.dll
Assets/AppsFlyer/AssetStoreTools/Editor/DroidSansMono.ttf
Assets/AppsFlyer/AssetStoreTools/Editor/icon.png
Assets/AppsFlyer/AssetStoreTools/Labels.asset
